### 1.2.1 : EDA: Advanced Feature Extraction.

In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
## lets read data_feature_extraction.csv
data=pd.read_csv(r"G:\Machine Learning\Projects\Quora/data_feature_extraction.csv")

In [3]:
data.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,freq_qid1,freq_qid2,q1len,q2len,q1_n_words,q2_n_words,word_Common,word_Total,word_share,freq_q1+q2,freq_q1-q2
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,1,1,66,57,14,12,10,23,0.434783,2,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,4,1,51,88,8,13,4,20,0.200000,5,3

In [4]:
data.shape

(404290, 17)

<h2> 3.4 Preprocessing of Text </h2>

### lets say text is: 

<WWW.google.co.in/udemy/ai >  
I love artifical intelligence & ai is on boom & an avg ai engineer earns approx 180k $ in us !

<WWW.google.co.in/udemy/ai >  
I love machine learning & ml is on boom & an ml engineer earns approx 180k $ in us !


& we have to find how similar they are !

This text is not clean data , so first & foremost we need to clean it , 
preprocess it , removes various dirtiness ,applying some techniques
then only we can consider this data so that our ml algo is able to feed it..

- Preprocessing:
    - Removing html tags like break, bold,italic etc.. 
      bcz Quora is basically a web page & inside web page , 
      we have lots of tags , & this is basically text data & to clean your text data ,
      u have to use regular expressions , (re module ) .. 
    
    
    - Removing Punctuations , like colon, semi colon , full stop
    - Performing stemming to get root words 
    - Removing Stopwords -- remove stopwords 
    - Expanding contractions etc.it means if we have %,we will replace it with percent..
      if we have ₹ ,  we will replace it with rupee... ₹ currency is India.. 
         € currency in most of European Countries...000,000 with m(million)

In [5]:
data.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
freq_qid1       0
freq_qid2       0
q1len           0
q2len           0
q1_n_words      0
q2_n_words      0
word_Common     0
word_Total      0
word_share      0
freq_q1+q2      0
freq_q1-q2      0
dtype: int64

In [6]:
data.fillna(' ',inplace=True)

In [7]:
data.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
freq_qid1       0
freq_qid2       0
q1len           0
q2len           0
q1_n_words      0
q2_n_words      0
word_Common     0
word_Total      0
word_share      0
freq_q1+q2      0
freq_q1-q2      0
dtype: int64

In [8]:
data['question1'].str.contains('₹').sum()

309

In [9]:
data[data['question1'].str.contains('₹')]

,id,qid1,qid2,question1,question2,is_duplicate,freq_qid1,freq_qid2,q1len,q2len,q1_n_words,q2_n_words,word_Common,word_Total,word_share,freq_q1+q2,freq_q1-q2
4262,4262,8428,2921,How will demonetization of ‎₹1000 and ‎₹500 no...,Would demonetization of 500 and 1000 rupee not...,1,12,41,101,95,17,16,8,31,0.258065,53,29
4303,4303,8509,8510,Which are the positive benefits of banning exi...,Will the economy of India collapse due to the ...,1,4,1,91,78,15,15,6,28,0.214286,5,3
4499,4499,8890,8891,"Now after banning of ₹500 & ₹1000 notes, what ...",What will black money owners do after the bann...,1,3,4,144,78,28,15,8,42,0.190476,7,1
5064,5064,9982,9983,How much effect can banning of ₹500 and ₹1000 ...,How much black money will be controlled by ban...,1,1,4,134,75,24,15,6,36,0.166667,5,3
5367,5367,10564,10565,The decision of Indian Government to demonetiz...,What do you think of the decision by the India...,1,8,11,88,97,15,18,7,32,0.218750,19,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393029,393029,272063,374374,What will the people who have Black Money in S...,Will the corrupt politicians still have their ...,1,4,4,105,133,20,25,11,42,0.261905,8,0
394728,394728,105199,527640,Why did the government produce new notes of ₹2...,The government is introducing new notes of Rs....,1,4,1,77,148,14,26,7,29,0.241379,5,3
395644,395644,74097,4040,"Why is ₹500, ₹1000 notes banned in India?",Why Narendra Modi banned 500 and 1000 notes in...,1,2,23,41,53,8,10,5,18,0.277778,25,21
395668,395668,415547,71817,What are the best DSLR models available in the...,India: What is the best phone to buy between (...,0,1,6,62,65,11,13,3,23,0.130435,7,5
396172,396172,529213,309280,How can I Invest 25000₹?,How can I invest in a city?,0,1,1,24,27,5,7,4,12,0.333333,2,0

In [10]:
data[data['question1'].str.contains('₹')].index

Int64Index([  4262,   4303,   4499,   5064,   5367,   7024,   7337,   9576,
              9822,  10446,
            ...
            380914, 383453, 386713, 389044, 390332, 393029, 394728, 395644,
            395668, 396172],
           dtype='int64', length=309)

In [11]:
que=data['question1'][4262]
que

'How will demonetization of \u200e₹1000 and \u200e₹500 notes will help curb the rampant black currency in India?'

In [12]:
que.replace("₹", " rupee ")

'How will demonetization of \u200e rupee 1000 and \u200e rupee 500 notes will help curb the rampant black currency in India?'

In [13]:
### but suppose my text has multiple abbreviations

In [14]:
que='How will demonetization of \u200e₹1000 and \u200e₹500 notes ll help curb the rampant black currency in India?'

In [15]:
que.replace("₹", " rupee ").replace(' ll','will')

'How will demonetization of \u200e rupee 1000 and \u200e rupee 500 noteswill help curb the rampant black currency in India?'

In [16]:
## similar stuff using function
def process(text):
    return text.replace("₹", " rupee ").replace(" ll",'will')

In [17]:
process(que)

'How will demonetization of \u200e rupee 1000 and \u200e rupee 500 noteswill help curb the rampant black currency in India?'

In [18]:
### in a similar way ,we have to do lots of contractions over here

In [19]:
## pattern=r'<.*?>'       #remove HTML tags
##means ( <--opening of HTML tags .-any characters *-0 
#or more characters , ? - 0 or 1 >-Closing of html tags )

In [20]:
## pattern=r'<.*?>'

In [21]:
def preprocess(x):
    x = str(x).lower()
    x = x.replace(",000,000", "m").replace(",000", "k").replace("′", "'").replace("’", "'")\
                           .replace("won't", "will not").replace("cannot", "can not").replace("can't", "can not")\
                           .replace("n't", " not").replace("what's", "what is").replace("it's", "it is")\
                           .replace("'ve", " have").replace("i'm", "i am").replace("'re", " are")\
                           .replace("he's", "he is").replace("she's", "she is").replace("'s", " own")\
                           .replace("%", " percent ").replace("₹", " rupee ").replace("$", " dollar ")\
                           .replace("€", " euro ").replace("'ll", " will")
    return x

In [22]:
## takes 10 secs
data['question1']=data['question1'].apply(preprocess)

In [23]:
data['question2']=data['question2'].apply(preprocess)

In [24]:
x=data['question2'][0]

In [25]:
x

'what is the step by step guide to invest in share market?'

In [26]:
### remove special characters from data use '\W'
## '\W' - except \w ie word character ie except (a-zA-Z,underscore)

In [27]:
import re
pattern=re.compile('\W')

In [28]:
sample=data['question2'][0]

In [29]:
sample

'what is the step by step guide to invest in share market?'

In [30]:
sample=re.sub(pattern,' ',sample)

In [31]:
sample

'what is the step by step guide to invest in share market '

In [32]:
data['question1'][9]

'motorola (company): can i hack my charter motorolla dcx3400?'

In [33]:
re.sub(pattern,' ',data['question1'][9])

'motorola  company   can i hack my charter motorolla dcx3400 '

In [34]:
def remove_sp_char(x):
    return re.sub(pattern,' ',x)

In [35]:
feature=['question1','question2']

In [36]:
for col in feature:
    data[col]=data[col].apply(remove_sp_char)

In [37]:
data.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,freq_qid1,freq_qid2,q1len,q2len,q1_n_words,q2_n_words,word_Common,word_Total,word_share,freq_q1+q2,freq_q1-q2
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0,1,1,66,57,14,12,10,23,0.434783,2,0
1,1,3,4,what is the story of kohinoor koh i noor dia...,what would happen if the indian government sto...,0,4,1,51,88,8,13,4,20,0.200000,5,3

In [38]:
data['question1'][0]
### now lets remove xtra whitespaces that we have

'what is the step by step guide to invest in share market in india '

### ways to remove xtra whitespaces..
    1..using strip() from string class
    2..using str.strip() on top of series
    3..using re module --->> 
    https://stackoverflow.com/questions/8270092/remove-all-whitespace-in-a-string

    4..using split along with join

#### 1..using strip() from string class

In [39]:
data['question1'][9999].strip()

'what are the most respected and informative textbooks for studying undergraduate level organic chemistry'

### takes more less as we have data
for i in range(0,len(df)):
    #for i in df.index
    
    df['question1'][i]=df['question1'][i].strip()
    df['question2'][i]=df['question2'][i].strip()

#### 2...using str.strip() on top of series(df['question1'])
    much more faster

In [40]:
data['question1']=data['question1'].str.strip()
data['question2']=data['question2'].str.strip()

##### 3..using re module & by defining some pattern..

In [41]:
text='shan '

In [42]:
import re
re.sub(r"\s+$", "", text)

'shan'

In [43]:
text=' shan '
import re
re.sub("^\s+|\s+$", "", text)

'shan'

In [44]:
def remove_xtraspaces(text):
    return re.sub("^\s+|\s+$", "", text)

#### ways to apply a func on top of any column..
    apply(func)
    apply(lambda)
    map(func,seq)
    map(lambda,seq

### apply(func)
df['question1']=df['question1'].apply(remove_xtraspaces)
df['question2']=df['question2'].apply(remove_xtraspaces)


## apply(lambda)
df['question1'].apply(lambda row:re.sub("^\s+|\s+$", "", row))

## map(func,seq)
pd.Series(map(remove_xtraspaces,df['question1']))

## map(lambda,seq)
pd.Series(map(lambda row:re.sub("^\s+|\s+$", "", row),df['question1']))

#### 4..using split along with join

In [45]:
text2=' hello  apple  '

In [46]:
text2

' hello  apple  '

In [47]:
' '.join(text2.split())

'hello apple'

In [48]:
def remove_xtra_whitespaces(text):
    return ' '.join(text.split())

In [49]:
remove_xtra_whitespaces(text2)

'hello apple'

### apply(func)
df['question1']=df['question1'].apply(remove_xtra_whitespaces)
df['question2']=df['question2'].apply(remove_xtra_whitespaces)


## apply(lambda)
df['question1'].apply(lambda row:' '.join(row.split()))

## map(func,seq)
pd.Series(map(remove_xtra_whitespaces,df['question1']))

## map(lambda,seq)
pd.Series(map(lambda row:' '.join(row.split()),df['question1']))

In [138]:
## takes 10 secs

## let create pre_process_quora.csv 
data.to_csv(r'F:\Learn_ai_ml_da\Quora\3.Pre_process_data/pre_process_quora.csv',index=False)


## we will consider this data for advanced Featurization..

In [ ]:
### we are not removing stopwords bcz later-on we have to apply adv feature engineering & if we remove stop-words,
# we may remove stopwords from data..

### so below stopwords & stemming is just for learning purpose..

### Stopwords - Stopwords are the unnecessary words that even if they are removed the sentiment of the sentence dosent change.¶

In [53]:
from nltk.corpus import stopwords

In [55]:
text=data['question1'][0]

In [56]:
text

'what is the step by step guide to invest in share market in india '

In [58]:
' '.join([word for word in text.split(' ') if word not in set(stopwords.words('english'))])

'step step guide invest share market india '

In [60]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [62]:
' '.join([ps.stem(word) for word in text.split(' ') if word not in set(stopwords.words('english'))])

'step step guid invest share market india '

In [15]:
## from nltk.corpus import stopwords                   #Stopwords corpus
## from nltk.stem import PorterStemmer                 # Stemmer

In [16]:
## def remove_stopwords(text):
##    return ' '.join([word for word in text.split(' ') if word not in set(stopwords.words('english'))])

In [17]:
## data['question1'][0]

'what is the step by step guide to invest in share market in india '

In [36]:
## remove_stopwords(data['question1'][0])

'step step guide invest share market india '

In [ ]:
### Removing Stopwords & Stemming on data...

In [37]:
## from nltk.stem import PorterStemmer

In [19]:
## ps=PorterStemmer()

In [20]:
## def remove_stopwords_stemming(text):
##    return ' '.join([ps.stem(word) for word in text.split() if word not in set(stopwords.words('english'))])

In [40]:
### not using list comprehension
'''def remove_stopwords_stemming(text):
    stemming=[]
    for word in text.split():
        if word not in set(stopwords.words('english')):
            stemming.append(ps.stem(word))
    return ' '.join(stemming)'''

In [41]:
##remove_stopwords_stemming(data['question1'][0])

'step step guid invest share market india'

In [42]:
##data.shape

(404290, 17)

In [44]:
## remove_stopwords(data['question1'][0])

'step step guide invest share market india '

In [ ]:
## takes 15 mins
##data['question1']=data['question1'].apply(remove_stopwords)

In [ ]:
## Consider sample of data

In [ ]:
## takes more than 30 mins if entire data
###for col in feature:
  ##  data[col]=data[col].apply(remove_stopwords_stemming)

In [0]:
# To get the results in 4 decemal points
SAFE_DIV = 0.0001 

STOP_WORDS = stopwords.words("english")


def preprocess(x):
    x = str(x).lower()
    x = x.replace(",000,000", "m").replace(",000", "k").replace("′", "'").replace("’", "'")\
                           .replace("won't", "will not").replace("cannot", "can not").replace("can't", "can not")\
                           .replace("n't", " not").replace("what's", "what is").replace("it's", "it is")\
                           .replace("'ve", " have").replace("i'm", "i am").replace("'re", " are")\
                           .replace("he's", "he is").replace("she's", "she is").replace("'s", " own")\
                           .replace("%", " percent ").replace("₹", " rupee ").replace("$", " dollar ")\
                           .replace("€", " euro ").replace("'ll", " will")
    x = re.sub(r"([0-9]+)000000", r"\1m", x)
    x = re.sub(r"([0-9]+)000", r"\1k", x)
    
    
    porter = PorterStemmer()
    pattern = re.compile('\W')
    
    if type(x) == type(''):
        x = re.sub(pattern, ' ', x)
    
    
    if type(x) == type(''):
        x = porter.stem(x)
        example1 = BeautifulSoup(x)
        x = example1.get_text()
               
    
    return x

- Function to Compute and get the features : With 2 parameters of Question 1 and Question 2