### 1.2.1 : EDA: Advanced Feature Extraction. (String Matching)

In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
## let read pre_process_quora.csv 
data = pd.read_csv(r'F:\Learn_ai_ml_da\Quora\3.Pre_process_data/pre_process_quora.csv')

In [3]:
data.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,freq_qid1,freq_qid2,q1len,q2len,q1_n_words,q2_n_words,word_common,word_Total,word_share,freq_q1+q2,freq_q1-q2
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0,1,1,66,57,14,12,10,23,0.434783,2,0
1,1,3,4,what is the story of kohinoor koh i noor dia...,what would happen if the indian government sto...,0,4,1,51,88,8,13,4,20,0.200000,5,3

In [4]:
data.shape

(404290, 17)

In [5]:
data.isnull().sum()

id               0
qid1             0
qid2             0
question1       15
question2        8
is_duplicate     0
freq_qid1        0
freq_qid2        0
q1len            0
q2len            0
q1_n_words       0
q2_n_words       0
word_common      0
word_Total       0
word_share       0
freq_q1+q2       0
freq_q1-q2       0
dtype: int64

In [6]:
data.fillna(' ',inplace=True)

In [7]:
data.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
freq_qid1       0
freq_qid2       0
q1len           0
q2len           0
q1_n_words      0
q2_n_words      0
word_common     0
word_Total      0
word_share      0
freq_q1+q2      0
freq_q1-q2      0
dtype: int64

### String matching : Feature Extraction using (NLP and Fuzzy Features)

In [8]:
### how to come up this features , there is a lots of discussion 
# going on in discussion of Kaggle... Lots of expertise required for it...

### provided u some codes to get a idea of fuzz_ratio , fuzz_partial_ratio , token_set_ratio , including its Detailed documentation

#### to find similarity between 2 sentences u have to use something known fuzzy-wuzzy 
#### similarity values lies between 0 to 100 , more the value is , more the sentences are similar

#### below are the metric to compute similarity

- __fuzz_ratio__ :  https://github.com/seatgeek/fuzzywuzzy#usage
http://chairnerd.seatgeek.com/fuzzywuzzy-fuzzy-string-matching-in-python/



- __fuzz_partial_ratio__ :  https://github.com/seatgeek/fuzzywuzzy#usage
http://chairnerd.seatgeek.com/fuzzywuzzy-fuzzy-string-matching-in-python/


- __token_sort_ratio__ : https://github.com/seatgeek/fuzzywuzzy#usage
http://chairnerd.seatgeek.com/fuzzywuzzy-fuzzy-string-matching-in-python/




- __token_set_ratio__ : https://github.com/seatgeek/fuzzywuzzy#usage
http://chairnerd.seatgeek.com/fuzzywuzzy-fuzzy-string-matching-in-python/





- __longest_substr_ratio__ :Ratio of length longest common substring to min lenghth of token count of Q1 and Q2
    longest_substr_ratio = len(longest common substring) / (min(len(q1_tokens), len(q2_tokens))

In [9]:
#### Suppose u have to compute whether 2 strings are similar or not..
### 1st way -using edit distance

### edit dis. says :

In [10]:
a='NEW YORK METS'## it is actually a sports team
b='NEW YORK MEATS'

In [11]:
from difflib import SequenceMatcher
m = SequenceMatcher(None, "NEW YORK METS", "NEW YORK MEATS")

In [12]:
m.ratio()

0.9629629629629629

In [13]:
#!pip install fuzzywuzzy

In [14]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [15]:
data['question1'][0]

'what is the step by step guide to invest in share market in india'

In [16]:
data['question2'][0]

'what is the step by step guide to invest in share market'

In [17]:
## so if I use fuzz ratio to get similarity between 2 text
## it returns value between 0 to 100

In [18]:
fuzz.ratio(data['question1'][0],data['question2'][0])

93

In [ ]:
## using lambda 
data.apply(lambda row:\
           fuzz.ratio(row['question1'],row['question2']),axis=1)

In [21]:
## using function

In [22]:
def fuzz_ratio(row):
    return fuzz.ratio(row['question1'],row['question2'])

In [23]:
# data.apply(fuzz_ratio,axis=1)

In [24]:
## df=data.sample(n=10000)

df=data[0:10000]

In [25]:
fuzz.partial_ratio("this is a test", "this is a test!")

100

In [26]:
fuzz.partial_ratio('IND VS NZ','NZ VS IND')

67

In [27]:
fuzz.ratio('IND VS NZ','NZ VS IND')

67

In [28]:
fuzz.token_sort_ratio('IND VS NZ','NZ VS IND')

100

In [29]:
fuzz.token_sort_ratio('my name is Shan','Shan is my name name')

86

In [30]:
fuzz.token_set_ratio('my name is Shan','Shan is my name name')

100

### create fuzz_ratio , fuzz_partial_ratio , Toekn_sort_ratio , token_set_ratio

In [33]:
## it can take 3 mins if considered entire data
##data['fuzz_Ratio']=data.apply(lambda row: fuzz.ratio(row['question1'],row['question2']) ,axis=1)

In [36]:
df['fuzz_Ratio']=df.apply(lambda row: \
          fuzz.ratio(row['question1'],row['question2']),axis=1)

In [37]:
##takes 1 min
df['fuzz_Partial_Ratio']=df.apply(lambda row: \
  fuzz.partial_ratio(row['question1'],row['question2']) ,axis=1)

In [38]:
df['Token_Sort_Ratio']=df.apply(lambda row: \
  fuzz.token_sort_ratio(row['question1'],row['question2']),axis=1)

In [39]:
df['Token_Set_Ratio']=df.apply(lambda row: \
  fuzz.token_set_ratio(row['question1'],row['question2']) ,axis=1)

In [40]:
df.columns

Index(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate',
       'freq_qid1', 'freq_qid2', 'q1len', 'q2len', 'q1_n_words', 'q2_n_words',
       'word_common', 'word_Total', 'word_share', 'freq_q1+q2', 'freq_q1-q2',
       'fuzz_Ratio', 'fuzz_Partial_Ratio', 'Token_Sort_Ratio',
       'Token_Set_Ratio'],
      dtype='object')

In [41]:
df.head(3)

,id,qid1,qid2,question1,question2,is_duplicate,freq_qid1,freq_qid2,q1len,q2len,...,q2_n_words,word_common,word_Total,word_share,freq_q1+q2,freq_q1-q2,fuzz_Ratio,fuzz_Partial_Ratio,Token_Sort_Ratio,Token_Set_Ratio
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0,1,1,66,57,...,12,10,23,0.434783,2,0,93,100,93,100
1,1,3,4,what is the story of kohinoor koh i noor dia...,what would happen if the indian government sto...,0,4,1,51,88,...,13,4,20,0.200000,5,3,66,74,63,86
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0,1,1,73,59,...,10,4,24,0.166667,2,0,43,46,63,63

In [42]:
## lets store this df into string_fe.csv at some path..

#df.to_csv(r'F:\Learn_ai_ml_da\Quora\4.Fe_string_matching/string_fe.csv',index=False)