# Module 1.. Introduction : 15 mins
                  Intro to R & why it is so important : 4 mins 
                  Installing Rstudio : 4 mins 
                  Installing R in Jupyter Notebook : 7 mins

## Intro to R & why it is so important !

    -> Used in data analysis , data science , Statistics  & in graphical field..
    
    -> high demand in industry..
    
    -> It gives us a broad variety of libraries related to data science , ML , Data analysis etc 
       which makes things simple for us to learn data science & data analysis
       R has CRAN(Comprehensive R Archive Network), which is a repository holding more than 10,0000 packages for Data
       science & ML ..
    
    -> It is open-source , ie anyone can use it & you can run R anywhere and at any time.
    -> R is available across widely used platforms like Windows, Linux, and macOS. 
    -> It has a vast community of users and it’s growing day by day.
    -> It allows us to integrate with other languages (C, C++). 
       Thus, you can easily interact with many data sources and statistical packages.

## Installing Rstudio :

## Installing R in Jupyter Notebook !

In [ ]:
## first show installing of Anaconda navigator !
## Then explain what is virtual environment !

## Then show how to install R in Jupyter Notebook ! ( Refer R_in_Anaconda_with_latest_version.txt)

## Show how to open Jupyter notebook !
## Then show how to open Jupyter notebook at other directories !

# Module 2.. Basics of R : 1hr 9 mins

                  What are keywords In R ? : 4 mins 
                  What are Identifiers in R ? : 6 mins 
                  Comments in R : 4 mins 
                  Statements in R : 5 mins 
                  Variables in R & its use : 4 mins 
                  Types of Variable assignment in R : 5 mins 
                  Data types In R : 10 mins 
                  Operators In R : 7 mins 
                  Conditional Statements in R : 8 mins 
                  Loops & Indentation in R (For loop , while , repeat ) : 10 mins 
                  what is function & how to define custom function ? : 6 mins

In [ ]:
## What are keywords In R ? 
     Keywords are predefined by the programming language
     (ie my R language knows what these words are all about
     and they are reserved for specific tasks or operations.. 
     
     Keywords are specific reserved words in R , 
      each of which has a specific meaning..

In [ ]:
### Just like as soon as u write function() , your R programming 
    knows u are trying to define a function !

In [6]:
2 == 5

## is a logical comparison , ie it will return a logical value, either TRUE or FALSE:
## FALSE is a keyword

[1] FALSE

In [ ]:
help(reserved)

### it's important to note that reserved is not a function but a help topic.

In [23]:
?reserved

In [ ]:
'''
if
else
while
repeat
for
function
in
next
break
TRUE
FALSE
NULL
Inf
NaN
NA
NA_integer
NA_real
NA_complex_
NA_character_
…

'''

## What are Identifiers in R ? 
     In R, an identifier is a name assigned to a variable, function, or other objects(vector_obj , lis_obj , dataframe_obj
     to do code..

    Rules for Identifiers:

    Identifiers can contain [A-Z], [a-z] , [0-9], and  (dots) ,(underscore) [ no special chars like +, -, *, / ] 
    They cannot start with a digits & special character(except dot(.))
    They must start with a letter or a dot followed by a letter..
    
    Avoid using reserved words or keywords (e.g., if, else, function) as identifiers..
    Identifiers are case-sensitive, meaning my_variable and My_Variable would be considered different.

In [1]:
a_b = 6 ## identifier can have (underscore) & (dots)

In [2]:
a_b

[1] 6

In [3]:
.b = 9 ## identifier can start with only special character which is dot(.)

In [4]:
.b

[1] 9

In [ ]:
9b = 7 ## return error as identifer cant start with a digit

## Comments in R :


    In R, comments are used to annotate and explain the code. 
    Comments are ignored by the R interpreter and are intended for human readers to better understand the code.

    1.. Using Single-line comment (use the # symbol)
    2.. using multi-line comment (you can use # at the beginning of each line.)

In [ ]:
# doing addition (Single-line comment)
a + b

In [8]:
# Example: Calculating the area of a circle
# Step 1: Define the radius of the circle
# Step 2: Calculate the area using the formula A = π * r^2

radius <- 5
area <- pi * radius^2 

# pi is a predefined constant in R that represents the 
mathematical constant π (pi) ,approx equal to 3.14.

In [9]:
area

[1] 78.53982

In [10]:
pi

[1] 3.141593

## Statements in R : 
    Single-line statements
    Multi-line statements

    Single-line statements are suitable for simple and concise expressions 
    They are appropriate when the code is short and can be easily understood in a single line.

In [19]:
x = 1 + 2 + 3 + 4 + 5 
x

### So When the statement is short and doesn't require line continuation, 
### using a single line can enhance readability.

[1] 15

     Multi-line statements are often used for better code readability, especially when dealing with long expressions 
     or function calls.. As multiline statements can improve readability

In [17]:
# Multiline statement example
total_sum <- 1 + 2 + 3 +
             4 + 5 + 6 +
             7 + 8 + 9 + 
            10 + 11 + 12 + 
            13 + 14 + 15 


### Multi-line statements enhance readability by providing visual separation 
## between different parts of the code, making it easier to understand.

In [18]:
total_sum

[1] 78

## Variables in R & its use
    Same rules of defining identifier

In [ ]:
"

In R, when you create a variable and assign it a value, the variable is stored in the computer's memory. 
Let's understand it : 

Its a 3 step process :

1.. Variable creation :
    When you execute a = 10 or a <- 10, 
    R creates a symbol table that contains variable names and their corresponding addresses in its memory where 10 is stored..


2.. Allocating memory :
    Then R allocates a section of memory to store the value 10..
    The size of the allocated memory depends on the type of data it is (like numbers , text, etc.).
    In this case, it's an integer, so a certain amount of memory is reserved for storing an integer value..


3.. Linking variable with memory :
    The variable a is linked with the memory address where the value 10 is stored.
    So, when you later use a in your code, R knows to go to the memory address XYZ to access the value 10.. 


Summary : 
This process involves the creation of a variable, memory allocation, 
and the establishment of a connection between the variable and the memory location where its value is stored..

"

In [ ]:
a = 10

In [ ]:
Symbol Table:
  - Variable: a
  - Memory Address: XYZ

Memory:
  - Address XYZ: 10

## Types of Variable assignment in R

In [ ]:
### 4 ways to declare variable..
    1.. using =  (Equuals to operator)
    2.. using <- (Leftward Assignment (<-))
    3.. using >- (Rightward Assignment >- )
    4.. using assign function

### 1.. Leftward Assignment (<-):

    This is the most common way to assign values to variables in R.
    The arrow (<-) is read as "gets" or "is assigned."

In [31]:
age <- 25
age

[1] 25

### 2.. Rightward Assignment (->):

    Similar to leftward assignment but with the arrow pointing to the right.
    Less commonly used compared to <-

In [32]:
25 -> age
age

[1] 25

### 3.. Equal Sign (=):

        The equal sign can also be used for assignment, though <- is more idiomatic in R.
        It's more commonly used in function arguments.

In [33]:
age = 25

In [34]:
age

[1] 25

### 4.. using assign function 
        The assign() function allows dynamic variable assignment.
        It takes a variable name as a character string and a value.

In [35]:
assign("age", 25)

In [36]:
age

[1] 25

In [ ]:
"

All these methods achieve the same result
But the leftward assignment (<-) is the most commonly used and recommended style in R. 


"

## Data types In R

    R supports several fundamental data types. 
    Here are some of the primary data types in R:

### 1.. Numeric:

        Used for storing numeric values, which can be integers or decimals.

In [ ]:
## In R ,we can use class(x) or typeof(x)
## in Python , we have type(x)

In [ ]:
### Decimal values are called numerics in R. It is the default data type for numbers in R.. 
### If you assign a decimal value to a variable x as follows, x will be of numeric type..

In [37]:
x = 5.6

# print the class name of variable
print(class(x))
## To find the data type of an object you have to use class() function


# print the type of variable
print(typeof(x)) ## ie its a double type or a floting type value

[1] "numeric"
[1] "double"

#### Note-->> Even if an integer is assigned to a variable y, it is still being saved as a numeric value.

In [38]:
# Assign an integer value to y
y = 5
 
# print the class name of variable
print(class(y))
 
# print the type of variable
print(typeof(y))

[1] "numeric"
[1] "double"

In [ ]:
'''
When R stores a number in a variable, it converts the number into a “double” value 
or a decimal type with at least two decimal places. 
This means that a value such as 5 is stored as 5.00 with a type of double and a class of numeric. 
And also y is not an integer here can be confirmed with the is.integer() function. 


'''

### 2.. Integer:

    Similar to numeric but specifically used for integers.

    
    a.. using as.integer()..  , ie y = as.integer(5)
         ie convert 5 to integer , as is basically used for conversion..
         
    b.. adding suffix as L..  , ie y = 5L

In [39]:
y = as.integer(5)

In [40]:
print(class(y))
 
print(typeof(y))

[1] "integer"
[1] "integer"

In [41]:
y=3L

print(class(y))

print(typeof(y))

[1] "integer"
[1] "integer"

### 3.. Complex: 
        Used for complex numbers with both real and imaginary parts.

In [43]:
complex_num <- 3 + 4i
complex_num

[1] 3+4i

### 4.. logical 
        R has logical data types that take either a value of true or false. 
        A logical value is often created via a comparison between variables.

In [45]:
# Sample values
x = 4
y = 3
 
z = x > y
z

[1] TRUE

In [47]:
# print the class name of z
print(class(z))

[1] "logical"

### 5.. Character

    Used for storing text or strings.
    The easiest way to denote that a value is of character type in R is to wrap the value inside 
    single or double inverted commas.

In [48]:
x = "shan"

In [49]:
class(x)

[1] "character"

In [51]:
typeof(x)

[1] "character"

## Operators In R
    a.. Arithmetic Operators
    b.. Comparison Operators 
    c.. Logical operators 
    d.. Concatenation Operator : c()
    e.. membership operator

### a.. Arithmetic Operators
         Used for basic arithmetic operations.

In [71]:
# Addition
5 + 3  

# Subtraction
5 - 3  

# Multiplication
5 * 3  

# Division
5 / 3  


7 %/% 2 # Integer division (returns quotient) : Integer Division Operator

7 %% 2 # Remainder after division (returns remainder ) : Modulus Operator

[1] 8

[1] 2

[1] 15

[1] 1.666667

[1] 3

[1] 1

### b.. Relational Operators (Comparison Operators ) :
         Used to compare values and return logical values (TRUE or FALSE).

In [57]:
# Equal to
5 == 3  # Result: FALSE

# Not equal to
5 != 3  # Result: TRUE

# Greater than
5 > 3   # Result: TRUE

# Less than or equal to
5 <= 3  # Result: FALSE

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

### c.. Logical Operators:
         Used to perform logical operations.

In [61]:
a = TRUE
b = FALSE

## TRUE & FALSE are reserved keywords in R : ?reserved

In [62]:
# AND
a & b  # Result: FALSE

# OR
a | b  # Result: TRUE

# NOT
!a         # Result: FALSE

[1] FALSE

[1] TRUE

[1] FALSE

### d.. Concatenation Operator : c() 

        This operator is used to concatenate or combine elements into a vector.
        Example: names <- c("Alice", "Bob", "Charlie") means "create a vector of names with Alice, Bob, and Charlie."

### e.. Membership Operator (%in%):

         The %in% operator checks if an element belongs to a vector, list or other objects.

In [72]:
colors = c("red", "green", "blue")
colors

[1] "red"   "green" "blue"

In [73]:
"green" %in% colors # Returns TRUE because "green" is in the vector
"yellow" %in% colors # Returns FALSE because "yellow" is not in the vector

[1] TRUE

[1] FALSE

#### Note : in R , there is no identity operator like in Python we have (is , is not)
            here we have identical() to do it , but it is slightly different !

    The identical function checks if two objects are exactly the same.

In [74]:
identical(5, 5)   # Returns TRUE because the values are the same
identical(5, "5") # Returns FALSE because the values are the same, but types differ

[1] TRUE

[1] FALSE

In [75]:
l1 = c(1 , 2 , 3)
l2 = c(1 , 2 , 3)

In [76]:
identical(l1 , l2)

[1] TRUE

## Conditional Statements in R

    R programming provides 4 different types of Flow-Control Statement ( Conditional Statement)

        1 ) if statement
        2 ) if-else statement
        3 ) if-else_if-else
        4 ) switch statement

### 1 ) if statement

    if (expression) 
    {
       #statement to execute if condition is true
    }

In [80]:
k = 101

if(k >= 100)
{
  print("Greater than or equals to 100")
}

[1] "Greater than or equals to 100"

###  2 ) If-else (conditional-statements)
    if (condition)
    {
        // Executes this block if
        // condition is true
    } else
    {
        // Executes this block if
        // condition is false
    }

In [78]:
k = 99

if(k >= 100)
{
  print("Greater than or equals to 100")
} else 
{
  print("Less than 100")
}

[1] "Less than 100"

### 3) if - else-if -      else

In [79]:
k = 100

if(k > 100)
{
  print("Greater than 100")
} else if (k < 100)
{
  print("Less than 100")
} else 
{
  print ("Equal to 100")
}

[1] "Equal to 100"

## Loops in R (For loop , while , repeat ) & Indentation :
    There are three types of loop in R programming: 
        a ) For Loop
        b ) While Loop
        c ) Repeat Loop

### a.. For Loop
    for (value in sequence)
    {
      statement
    }

### Indentation in R
    Indentation in R is not required for the code to execute correctly. 
    But, proper indentation improves code readability, making it easier to understand the 
    structure and flow of your program.

In [ ]:

## for is a reserved keywords in R (help(reserved))
## ie as soon as I mention for , my R will get to know about what this for is all about :
## Dont worry , we will discuss what for loop is in great detail

## so let me explain things in simple way : 



for (i in 1:5)
{
    # displaying each i
    print(i)

}


## The most common convention is to use : four spaces or Tab key for indentation
## Keep the same level of indentation for all codes

In [ ]:


"


{} (Curly Braces): 
The curly braces enclose the body of the loop. The code inside the curly braces will be executed for each iteration of the loop.


print(i): 
Within the loop, the print(i) statement is used to display the current value of i during each iteration. 

    print(i) : ie print(i) belongs to for loop , ie as soon as value of i gets increased , my print(i) will print that

"

In [81]:
for (i in 1:5)
{
    # displaying each i
    print(i)

}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

### b.. While Loop
    while ( condition ) 
    {
      statement
    }

In [82]:
i = 1
 
# using while loop
while (i <= 5)
{
    # statements
    print(i)
    i = i + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

## what is function & how to define custom function ?
    In R, a function is a reusable block of code that performs a specific task. 
    Functions in R are created using the function keyword. 
    They take input arguments, perform some operations, and return a result.

In [2]:
help(mean)

In [1]:
args(mean)

function (x, ...)
NULL

In [3]:
mean(c(1 , 3 , 4 )) ## here mean is in-built or a defined function !

[1] 2.666667

In [ ]:
### when-ever we have to do some task again & again  , it's always to good to define a function...

In [ ]:
"

In R, functions are defined using the function keyword. 
The function body is enclosed in curly braces {}, 
and the return statement is used to specify the value that the function should return.

"

    function_name <- function(arg_1, arg_2, ...) 
    {
       Function body 
    }

In [88]:
return_summation = function(x , y)  ## define a function with the name return_summation
{
    return (x + y)  ## or only x+y
}

In [89]:
return_summation(4 , 6)

[1] 10

# Module  3.. Basic Data Structures in R : 36 mins
                  Vector in R : 7 mins
                  Basic operations on vector : 7 mins
                  
                  List in R : 7 mins 
                  Basic operations on list : 7 mins
                  
                  DataFrame in R : 8 mins

In [ ]:
"

Data structures : Its all about efficient way of storing data..

"

## Vector & basic operations on vector :
    Defining vector
    
    Basic operations on vector : 
        a) indexing / slicing
        b) append or insert values in vector

    list & vector are 2 different classes in R..
    
    List in Python -~ vector in R
    closest thing to python dict is simply R list

        
    Imagine I want to compute mean of some set of numbers : (3 , 5 , 8 , 6 , 8)
    First we have store these numbers so that we can compute mean !
    As it is numerical data & since it is a 1-D data , ie we can use vector data structure to store these numbers ...
        
        
        
        
        Vectors : 1D data structure
            (collection of same data-type)  
            All the values in a vector must have the same type (numeric, character, or logical)..
            A vector is an object that contains a set of same type of values called its elements..
            
            X = c(1, 3, 5, 7, 8)
            e.g , c = used for concatenation / combine / concatenate / convert / coerce function..
https://www.computerworld.com/article/2497319/business-intelligence-beginner-s-guide-to-r-syntax-quirks-you-ll-want-to-know.html
             
             To put multiple values into a single variable, you use the c() function, such as:
             X = c(1, 3, 5, 7, 8)
             
             In R , we could have :

            "numeric vector" = c(1 , 3 , 4 , 5)
            "character vector" = c("shan" , "singh" , "tanu")
            "logical vector" = c(TRUE , FALSE , TRUE )

In [1]:
## One more important point about the c() function: 
## It assumes that everything in your vector is of the same data type — that is all numbers or all characters. 
## If you create a vector such as:

my_vector = c(1, 4, "hello", TRUE)

In [2]:
my_vector

[1] "1"     "4"     "hello" "TRUE"

In [ ]:
## You will not have a vector with two integer objects, one character object and one logical object.
## Instead, What c() will do : it will convert all into same object type, in this case all character objects.
## ie here , c works as convert or coerce..

### Basic operations on vector :
    a) indexing / slicing
    b) append or insert values in vector

In [ ]:
### Vector indexes in R start at 1, not 0

In [3]:
my_vector

[1] "1"     "4"     "hello" "TRUE"

In [4]:
my_vector[1]

[1] "1"

In [5]:
my_vector[1:3]

[1] "1"     "4"     "hello"

In [ ]:
### insert/append values in vector :

In [28]:
my_vector = append(my_vector, value = 99)

In [29]:
my_vector

[1] "1"     "4"     "hello" "TRUE"  "99"

## List & basic operations on list : 
    Defining List
    Naming list elements
    
    Basic operations on list
        a) accessing elements/keys of a list 
        b) Insert values in list

### Defining List :

In [6]:
## To create a collection with multiple object types, you need an R list, not a vector
## You create a list with the list() function not c(), such as:

My_list = list(1 , 4 , "hello" , TRUE)

In [7]:
My_list

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] "hello"

[[4]]
[1] TRUE

In [ ]:
### ie for key1 , we have value as 1
### ie for key2 , we have value as 4

### ie , List is a Collection of multiple key:value pairs

In [ ]:
### Imagine Facebook wants to store multiple users Fb profile data , then Programmers have to use list data-structure to store it..

In [ ]:
### Lists(collection of multiple objects[Integer , char , logical] or diff. data-type or collection of vectors)
## Its a (1D data structure)

In [9]:
Pro_Id = c(1, 2, 3, 4)
name = c("Shan", "Sandeep", "John", "Warner")
Interests = c("Teaching" , "dancing" , "Coding" , "Travelling")

fb_data = list(Pro_Id, name, Interests)


### empList = list(c(1, 2, 3, 4) , c("Shan", "Sandeep", "John", "Warner") , c("Teaching" , "dancing" , "Coding" , "Travelling"))
### empList <-list(c(1, 2, 3, 4) , c("Shan", "Sandeep", "John", "Warner") , c("Teaching" , "dancing" , "Coding" , "Travelling"))

In [10]:
fb_data

[[1]]
[1] 1 2 3 4

[[2]]
[1] "Shan"    "Sandeep" "John"    "Warner"

[[3]]
[1] "Teaching"   "dancing"    "Coding"     "Travelling"

### Naming list elements : 
     ie assign features to list..
     ie , list elements can be given names and they can be accessed using these names.

In [11]:
Pro_Id = c(1, 2, 3, 4)
name = c("Shan", "Sandeep", "John", "Warner")
Interests = c("Teaching" , "dancing" , "Coding" , "Travelling")

fb_data2 = list(Profile_id = Pro_Id, Profile_name = name , Interests = Interests)

### names(empList2) <- c("Profile_id", "Profile_name", "Interests")

In [12]:
fb_data2

$Profile_id
[1] 1 2 3 4

$Profile_name
[1] "Shan"    "Sandeep" "John"    "Warner"

$Interests
[1] "Teaching"   "dancing"    "Coding"     "Travelling"

In [ ]:
"

ie R List is a collection of (key-value pairs)

"

### Basic operations on list : 
    a) accessing elements of a list 
    b) Insert values in list

#### a) accessing elements of a list : 
    R has main 3 indexing operators..
    They are as follows :

        [ ] = always returns a list with a mentioned key..
        [[ ]] = returns a object of the class of item contained in the list.
        $(dollar operator) = returns elements from list that have names associated with it, not necessarily same class

In [13]:
fb_data2$Profile_id

[1] 1 2 3 4

In [13]:
fb_data2[["Profile_id"]]

[1] 1 2 3 4

In [14]:
fb_data2["Profile_id"] ## it returns a list with the mentioned key/element

$Profile_id
[1] 1 2 3 4

#### b) Insert values in list

In [ ]:
"

Refer below syntax to insert :

list[[key]] = value 
list$key = value 


"

In [15]:
fb_data2

$Profile_id
[1] 1 2 3 4

$Profile_name
[1] "Shan"    "Sandeep" "John"    "Warner"

$Interests
[1] "Teaching"   "dancing"    "Coding"     "Travelling"

In [16]:
fb_data2$city = c("New York" , "Mumbai" , "Delhi" , "Shanghai")

In [17]:
fb_data2

$Profile_id
[1] 1 2 3 4

$Profile_name
[1] "Shan"    "Sandeep" "John"    "Warner"

$Interests
[1] "Teaching"   "dancing"    "Coding"     "Travelling"

$city
[1] "New York" "Mumbai"   "Delhi"    "Shanghai"

## DataFrame in R

    Defining DataFrame
    
    Basic operations on DataFrame
        a) accessing cols of a DataFrame :

    dataframe is all about collection of vectors 
    as Each column in a data frame is essentially a vector..
    
    you can think of an R data frame as an extension of an R list..
    Key of list will be col of dataframe & values of list will be values of column

In [18]:
fb_data2

$Profile_id
[1] 1 2 3 4

$Profile_name
[1] "Shan"    "Sandeep" "John"    "Warner"

$Interests
[1] "Teaching"   "dancing"    "Coding"     "Travelling"

$city
[1] "New York" "Mumbai"   "Delhi"    "Shanghai"

In [ ]:
### moment u call data.frame() , ie u can trying to create a obj of data.frame class...

In [19]:
df = data.frame(fb_data2) ## R dataframe is a simple extension of R list

In [20]:
df

  Profile_id Profile_name Interests  city
1 1          Shan         Teaching   New York
2 2          Sandeep      dancing    Mumbai
3 3          John         Coding     Delhi
4 4          Warner       Travelling Shanghai


#### what is Dataframe ?? 
    Its all about data in the form of Rows & colums , ie It is exactly equal to csv data (excel)
    If you're familiar with the Table in Excel then you already have a grasp of what a R dataframe is. 
    It's a table of data. It has rows and columns
    Its 2-D data structure
    Its like a Table or a matrix
    
    If we see internally , implementation of R dataframe is all about ' Sequence/collection of vector '
    
    
    From Programming - point of view , we have data-structure called List..
    It is just a extension of List (data-structure of R) 
    e.g->> l1 = list(first_name = c('Shan' , 'Rahul') ,
                      last_name = c('Singh' , 'Singh')
                  )
    ie , R Dataframe is exactly a extended form of R List(key-value pairs) , key becomes feature/col & value becomes rows..
    
    
    Dataframe are size-mutable,  heterogeneous tabular data
    
     R DataFrame will be created by loading the data sets from various storage: 
     storage can be SQL Database, .CSV file,json,flat files and Excel file. 
     R DataFrame can also be created internally from the list, R etc.
     
     
     
     list & vector are 2 different classes in R..

In [ ]:
### R dataframe is a collection of R vector !

In [21]:
Pro_Id = c(1, 2, 3, 4)
name = c("Shan" , "Sandeep" , "John" , "Warner")

In [23]:
data.frame(Pro_Id , name)

  Pro_Id name
1 1      Shan
2 2      Sandeep
3 3      John
4 4      Warner

### Accessing cols in dataframe :

        Single bracket [ ] = returns output in dataframe
        Double bracket [[ ]] = returns output in vector 
        Dollar Sign"$" = returns output in vector

In [ ]:
### as R dataframe is a extension of R list , hence u can of think of accessing R dataframe columns using R list operators :

In [24]:
df$Profile_id

[1] 1 2 3 4

In [25]:
df["Profile_id"]

  Profile_id
1 1
2 2
3 3
4 4

In [26]:
df[["Profile_id"]]

[1] 1 2 3 4